
	RewriteEngine	On
	RewriteBase		/vav_final/
	 	
	RewriteCond		%{REQUEST_FILENAME} !-f
	RewriteCond		%{REQUEST_FILENAME} !-d
	
	Options			-Indexes

#	demo

#	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
	
#	Restricciones			
	RedirectMatch	404		^/vav_final/configuracion.php$
	
#	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-

#	INICIAR SESION
	RewriteRule 	^iniciar-sesion/validar/														/vav_final/app.sql/usuarios.php?f=usuarioValidar										[L]
	RewriteRule 	^iniciar-sesion/salir/															/vav_final/app.sql/usuarios.php?f=usuarioSalir											[L]
	RewriteRule 	^iniciar-sesion/																/vav_final/iniciar.sesion.php															[L]
		
#	PAIS
	RewriteRule 	^paises/([0-9]+)																/vav_final/pais.php?&p=$1																[L]
	RewriteRule 	^paises/																		/vav_final/pais.php?&p=0																[L]
	
#	OBJETOS
	RewriteRule 	^objeto/imagen-nueva/															/vav_final/app.sql/objetos.imagenes.php?f=objetoImagenNueva								[L]
	RewriteRule 	^objeto/imagen/eliminar/														/vav_final/app.sql/objetos.imagenes.php?f=objetoImagenEliminar							[L]
	RewriteRule 	^objeto/estado/																	/vav_final/app.sql/objetos.php?f=objetoEstado											[L]

#	SWICH
	RewriteRule 	^swich/editar/																	/vav_final/app.sql/swich.php?f=swichEditar												[L]
	RewriteRule 	^swich/mesas/																	/vav_final/app.sql/swich.php?f=swichMesas												[L]
	RewriteRule 	^swich/mesas-actuales/															/vav_final/app.sql/swich.php?f=swichMesasActuales										[L]
	RewriteRule 	^swich/mesas-controlador/														/vav_final/app.sql/swich.php?f=swichMesasControlador									[L]
	RewriteRule 	^swich-quad/mesas-actuales/														/vav_final/app.sql/swich.php?f=swichQuadMesasActuales									[L]
	RewriteRule 	^swich/mesas-totales/([A-Z]+)-([0-9]+)											/vav_final/app.sql/swich.php?f=swichMesasTotales&t=$1&i=$2								[L]
	RewriteRule 	^swich/consolidados-presidencial/												/vav_final/app.sql/swich.php?f=swichConsolidadosPresidenciales							[L]

#	SIMULADOR DE VOTOS
	RewriteRule 	^simulador-votos/																/vav_final/monitor.testing.php															[L]
	RewriteRule 	^simulador-mesas-actuales/														/vav_final/app.sql/swich.php?f=swichMesasActuales										[L]

#	MESAS USUARIOS MOVIL
	RewriteRule 	^monitor-moviles/																/vav_final/monitor.moviles.php															[L]
	RewriteRule 	^movil/obtener-mesas/([0-9]+)													/vav_final/app.sql/mesas.php?f=moviles_mesas&i=$1										[L]

#	MESAS
	RewriteRule 	^mesas/activar/																	/vav_final/app.sql/mesas.php?f=mesaActivar												[L]
	RewriteRule 	^mesas/destacada/																/vav_final/app.sql/mesas.php?f=mesaDestacada											[L]
	
	RewriteRule 	^mesas/nueva/																	/vav_final/app.sql/mesas.php?f=mesa_nueva												[L]
	RewriteRule 	^mesas/guardar/																	/vav_final/app.sql/mesas.php?f=mesa_guardar												[L]

	RewriteRule 	^mesas/candidato/guardar/														/vav_final/app.sql/mesas.php?f=mesa_candidato_guardar									[L]

	RewriteRule 	^mesas/detalles/([0-9]+)														/vav_final/app.sql/mesas.php?f=mesa_detalles&i=$1										[L]
	RewriteRule 	^mesas/voto/																	/vav_final/app.sql/mesas.php?f=mesa_voto												[L]
	RewriteRule 	^mesas/eliminar/																/vav_final/app.sql/mesas.php?f=mesa_eliminar											[L]
	RewriteRule 	^mesas/swich-quad-tv/															/vav_final/mesa.swich.quad.tv.php														[L]
	RewriteRule 	^mesas/editar/([0-9]+)															/vav_final/mesa.editar.php?&i=$1														[L]
	RewriteRule 	^mesas/visualizador-publico/													/vav_final/mesa.visualizador.publico.php?&p=0											[L]
	RewriteRule 	^mesas/visualizador/															/vav_final/mesa.visualizador.php?&p=0													[L]
	RewriteRule 	^mesas/swich/totem/																/vav_final/mesa.swich.totem.php															[L]
	RewriteRule 	^mesas/swich/totem-preview/														/vav_final/mesa.swich.totem.preview.php													[L]
	RewriteRule 	^mesas/swich/wall/																/vav_final/mesa.swich.quad.tv.php														[L]
	RewriteRule 	^mesas/swich/																	/vav_final/mesa.swich.php?&p=0															[L]
	RewriteRule 	^mesas/swich-quad/																/vav_final/mesa.swich.quad.php?&p=0														[L]
	RewriteRule 	^mesas/datos/([0-9]+)															/vav_final/app.sql/mesas.php?&f=mesaDatos&i=$1											[L]
	RewriteRule 	^mesas/operador/([0-9]+)														/vav_final/mesa.usuario.php?&p=$1														[L]
	RewriteRule 	^mesas/operador/																/vav_final/mesa.usuario.php?&p=0														[L]
	RewriteRule 	^mesas/([0-9]+)																	/vav_final/mesa.php?&p=$1																[L]
	RewriteRule 	^mesas/																			/vav_final/mesa.php?&p=0																[L]

	RewriteRule 	^tv/																			/vav_final/mesa.swich.totem.php															[L]

#	USUARIOS
	RewriteRule 	^usuarios/json/																	/vav_final/app.sql/usuarios.php?f=usuarioJson											[L]
	RewriteRule 	^usuarios/movil/																/vav_final/app.sql/usuarios.php?f=usuarioMovil											[L]
	RewriteRule 	^usuarios/nuevo/																/vav_final/app.sql/usuarios.php?f=usuarioNuevo											[L]
	RewriteRule 	^usuarios/editar/guardar/														/vav_final/app.sql/usuarios.php?f=usuarioEditar											[L]
	RewriteRule 	^usuarios/editar/([0-9]+)														/vav_final/usuario.editar.php?&i=$1														[L]
	RewriteRule 	^usuarios/eliminar/																/vav_final/app.sql/usuarios.php?&f=usuarioEliminar										[L]
	RewriteRule 	^usuarios/([0-9]+)																/vav_final/usuario.php?&p=$1															[L]
	RewriteRule 	^usuarios/																		/vav_final/usuario.php?&p=0																[L]

	RewriteRule 	^reboot-data/																	/vav_final/reboot.php																	[L]

#	JSON
	RewriteRule 	^json/diccionario/																/vav_final/app.sql/json.php?f=diccionario												[L]