*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
	font-family: "Santral_Book";
	src: local('Santral_Book'), url("fonts/Santral-Book.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_SemiBold";
	src: local('Santral_SemiBold'), url("fonts/Santral-SemiBold.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_Bold";
	src: local('Santral_Bold'), url("fonts/Santral-Bold.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_ExtraBold";
	src: local('Santral_ExtraBold'), url("fonts/Santral-ExtraBold.ttf") format("truetype");
}

:root
{
	--color-white : #ffffff;
	--color-black : #2d2d2d;

	--gobernador-color : #fd387f;
	--gobernador-color-invertido : #ffffff;
	--gobernador-color-sombra : #fd387f50;

	--gobernador-voto-a : #ffffff;
	--gobernador-voto-b : #fd387f;
	--gobernador-1-voto-a : #ffffff00;
	--gobernador-1-voto-b : #ffffffb1;

	--alcalde-color : #007fef;
	--alcalde-color-invertido : #ffffff;
	--alcalde-color-sombra : #007fef50;
	
	--alcalde-voto-a : #007fef00;
	--alcalde-voto-b : #007fef90;
	--alcalde-1-voto-a : #ffffff00;
	--alcalde-1-voto-b : #ffffffb1;

	--candidato-height : 365px;

	--candidato-nombre : #1c1c1c;
	--candidato-apellido : #1c1c1c;

	--resultados : 490px;
}

body
{
	overflow: hidden;
	background: transparent;
}

#render
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	/*
	background: url("/vav_final/app.imagenes/bg_wall.jpg") no-repeat;
	*/
	background: url("/vav_final/app.imagenes/bg_wall.jpg") no-repeat;
	overflow: hidden;
}
	#no-cursor
	{
		z-index: 100;
		position: absolute;
		width: 1920px;
		height: 1080px;
		display: none;
	}
/*
	MESAS
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.mesas
	{
		position: relative;
		width: 100%;
		height: 823px;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		gap: 70px;
		padding: 105px 100px 100px 100px;
	}
		.mesa
		{
			font-family: 'Santral_SemiBold';
			font-size: 1.5rem;
			line-height: 1.5rem;
			color: var(--color-white);
		}
			.mesa .header
			{
				position: relative;
				text-align: center;
			}
				.mesa .header h2
				{
					position: relative;
					font-family: 'Santral_Bold';
					font-size: 2.2rem;
					line-height: 2.2rem;
					text-transform: uppercase;
					color: var(--alcalde-color);
					background: #fff;
					padding: 11px 0 2px 0;
				}
				.mesa .header h3
				{
					position: relative;
					font-family: 'Santral_Semibold';
					font-size: 1.25rem;
					line-height: 1.25rem;
					text-transform: uppercase;
					color: #fff;
					background: var(--alcalde-color);
					padding: 10px 0 6px 0;
				}
				.mesa .header h4
				{
					position: relative;
					font-family: 'Santral_Bold';
					font-size: 1.4rem;
					line-height: 1.4rem;
					text-transform: uppercase;
				}
			.mesa .candidatos
			{
				position: relative;
				height: calc( ( var(--candidato-height) * 2 ) + 30px );
				background: #b8b8b8;
				overflow: hidden;
			}
				.mesa .candidatos .candidato
				{
					position: absolute;
					width: 100%;
					padding: 45px 30px 0 30px;
					height: var(--candidato-height);
					display: grid;
					grid-template-columns: 1fr;
					transition: all 0.75s ease;
				}
					.mesa .candidatos .candidato .candidato-imagen
					{
						z-index: 1;
						display: grid;
						position: relative;
						width: 100%;
						background: #fff;
					}
						.mesa .candidatos .candidato .candidato-imagen .candidato-imagen-marco
						{
							place-self: center;
							position: relative;
							width: 170px;
							height: 150px;
							background: #fff;
							box-shadow: 0 80px 75px #00000065;
						}
						.mesa .candidatos .candidato .candidato-imagen img
						{
							top: -30px;
							position: relative;
							width: 100%;
							transition: all 0.75s ease-out;
							opacity: 0;
						}

					.mesa .candidatos .candidato .candidato-ficha
					{
						z-index: 2;
						position: relative;
						color: var(--color-black);
						background: #e0e0e0;
						text-align: center;
						transition: all 0.75s ease-in-out;
						box-shadow: 0 4px 15px #00000015;
					}
						.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-nombre
						{
							z-index: 5;
							position: relative;
							font-family: 'Santral_ExtraBold';
							font-size: 1.8rem;
							line-height: 1.8rem;
							padding: 13px 0 2px 0;
						}
						.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-apellido
						{
							z-index: 5;
							position: relative;
							font-family: 'Santral_ExtraBold';
							font-size: 2.15rem;
							line-height: 2.15rem;
							padding: 0 0 0 0;
						}
						.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-partido
						{
							z-index: 5;
							position: relative;
							font-family: 'Santral_Book';
							font-size: 1.1rem;
							line-height: 1.1rem;
						}

					.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-footer
					{
						z-index: 5;
						display: grid;
						grid-template-columns: 90px 1fr;
						gap: 10px;
						padding: 7px 20px 15px 20px;
					}
						.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-pacto
						{
							display: grid;
							position: relative;
							font-family: 'Santral_Bold';
							font-size: 1.6rem;
							line-height: 1.6rem;
							border: solid 2px var(--alcalde-color);
							transition: all 0.75s ease-in-out;
						}
							.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-pacto .partido
							{
								background: var(--alcalde-color);
								color: var(--color-white);
								padding: 5px 0 0 0;
								transition: all 0.75s ease-in-out;
							}
							.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-pacto .pacto
							{
								background: var(--color-white);
								color: var(--alcalde-color);
								padding: 5px 0 0 0;
								transition: all 0.75s ease-in-out;
							}
						.mesa .candidatos .candidato .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-votos
						{
							z-index: 5;
							position: relative;
							font-family: 'Santral_Extrabold';
							font-size: 4.9rem;
							line-height: 3.1rem;
							padding: 17px 0 0 0;
							color: var(--alcalde-color);
							transition: all 0.75s ease-in-out;
						}
					.mesa .candidatos .candidato-votos-animacion
					{
						z-index: 1;
						top: 0px;
						position: absolute;
						width: 100%;
						height: 100%;
						opacity: 0;
						background: linear-gradient( 135deg, var(--alcalde-voto-a) 0%, var(--alcalde-voto-b) 100%);
					}

	.mesa .candidatos .order-1 .candidato-ficha
	{
		color: var(--color-white) !important;
		background: var(--alcalde-color) !important;
	}
	.mesa .candidatos .order-1 .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-pacto
	{
		border: solid 2px var(--color-white) !important;
	}
		.mesa .candidatos .order-1 .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-pacto .partido
		{
			background: var(--color-white) !important;
			color: var(--alcalde-color) !important;
		}
		.mesa .candidatos .order-1 .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-pacto .pacto
		{
			background: var(--alcalde-color) !important;
			color: var(--color-white) !important;
		}
	.mesa .candidatos .order-1 .candidato-ficha .candidato-ficha-footer .candidato-ficha-footer-votos
	{
		color: var(--color-white) !important;
	}
	.mesa .candidatos .order-1 .candidato-ficha .candidato-votos-animacion { background: linear-gradient( 135deg, var(--alcalde-1-voto-a) 0%, var(--alcalde-1-voto-b) 100%) !important; }

/*
	POSICIONES DE LOS BLOQUES
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.mesas .mesa .candidatos .order-1
	{
		z-index: 4;
		top: calc( var(--candidato-height) * 0 );
		animation: orden-1-kf 0s ease-out 1 forwards;
	}
	.mesas .mesa .candidatos .order-2
	{
		z-index: 3;
		top: calc( var(--candidato-height) * 1 );
		animation: orden-2-kf 0s ease-out 1 forwards;
	}
	.mesas .mesa .candidatos .order-3
	{
		z-index: 2;
		top: calc( var(--candidato-height) * 2 + 25px );
		animation: orden-3-kf 0s ease-out 1 forwards;
	}

	@keyframes orden-1-kf { 1% { z-index: 4 } }
	@keyframes orden-2-kf { 1% { z-index: 3 } }
	@keyframes orden-3-kf { 1% { z-index: 2 } }

/*
	ANIMACIONES
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.animar_imagen_in
	{
		animation: keyframe_imagen_in 0.5s ease-out 1 forwards;
	}

	.animar_voto
	{
		animation: keyframe_voto 1s ease 1 forwards;
	}
	.animar_voto_texto
	{
		animation: keyframe_voto_texto 1s ease 1 forwards;
	}
	.animar_voto_icono
	{
		animation: keyframe_voto_icono 1s ease 1 forwards;
	}

	.letters_in
	{
		animation: keyframe_letter_in 1.5s ease-out 1 forwards;
	}
	.letters_zoom_in
	{
		animation: keyframe_letter_zoom_in 1.5s ease-out 1 forwards;
	}
	.arrow_zoom_in
	{
		animation: keyframe_arrow_zoom_in 1.5s ease-out 1 forwards;
	}

	.transition
	{
		transition: all 0.75s ease-in-out;
	}
	.transition-on
	{
		transition: left 0.75s ease, right 0.75s ease, transform 0.75s ease, bottom 0.75s ease;
	}
	.transition-of
	{
		transition: all 0s ease;
	}

	@keyframes keyframe_imagen_in
	{
		0% { opacity: 0 }
		100% { opacity: 1 }
	}
	@keyframes keyframe_letter_in
	{
		0% { opacity: 0 }
		25% { opacity: 0 }
		100% { opacity: 1 }
	}
	@keyframes keyframe_letter_zoom_in
	{
		0% { opacity: 0; transform: scale(1.2) }
		50% { opacity: 0; transform: scale(1.2) }
		100% { opacity: 1; transform: scale(1) }
	}
	@keyframes keyframe_arrow_zoom_in
	{
		0% { opacity: 0; filter: brightness(2); }
		50% { opacity: 0; filter: brightness(2); }
		100% { opacity: 1; filter: brightness(1); }
	}

	@keyframes keyframe_voto
	{
		0% { opacity: 0 }
		45% { opacity: 1 }
		55% { opacity: 1 }
		100% { opacity: 0 }
	}
	@keyframes keyframe_voto_texto
	{
		0% {  }
		45% { color: var(--color-white); }
		55% { color: var(--color-white); }
		100% {  }
	}
	@keyframes keyframe_voto_icono
	{
		0% { filter: invert(0) }
		45% { filter: invert(1) }
		55% { filter: invert(1) }
		100% { filter: invert(0) }
	}

	.anim_view_in
	{
		animation: view_in 0.5s ease 1 forwards;
	}
	.anim_view_out
	{
		animation: view_out 0.5s ease 1 forwards;
	}

	@keyframes view_in
	{
		0% { opacity: 0 }
		100% { opacity: 1 }
	}
	@keyframes view_out
	{
		0% { opacity: 1 }
		100% { opacity: 0 }
	}