*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
	font-family: 'panton_thin';
	src: local('panton_thin'), url(fonts/cnn/panton_thin.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_extraLight';
	src: local('panton_extraLight'), url(fonts/cnn/panton_extraLight.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_light';
	src: local('panton_light'), url(fonts/cnn/panton_light.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_regular';
	src: local('panton_regular'), url(fonts/cnn/panton_regular.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_semiBold';
	src: local('panton_semiBold'), url(fonts/cnn/panton_semiBold.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_bold';
	src: local('panton_bold'), url(fonts/cnn/panton_bold.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_extraBold';
	src: local('panton_extraBold'), url(fonts/cnn/panton_extraBold.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_black';
	src: local('panton_black'), url(fonts/cnn/panton_black.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_heavy';
	src: local('panton_heavy'), url(fonts/cnn/panton_heavy.otf) format('opentype');
}

@font-face
{
	font-family: "ATC_rg";
	src: local('ATTAleckCd_Rg'), url("fonts/ATTAleckCd_Rg.ttf") format("truetype");
}
@font-face
{
	font-family: "ATC_bd";
	src: local('ATTAleckCd_W_Bd'), url("fonts/ATTAleckCd_W_Bd.ttf") format("truetype");
}

@font-face
{
	font-family: "Flama_Regular";
	src: local('Flama_Regular'), url("fonts/Flama_Regular.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Medium";
	src: local('Flama_Medium'), url("fonts/Flama_Medium.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Semibold";
	src: local('Flama_Semibold'), url("fonts/Flama_Semibold.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Bold";
	src: local('Flama_Bold'), url("fonts/Flama_Bold.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Bold_";
	src: local('Flama_Bold_'), url("fonts/Flama_Bold_.otf") format("truetype");
}

@font-face
{
	font-family: "TTFirsNeue_Light";
	src: local('TTFirsNeue_Light'), url("fonts/TTFirsNeue-Light.ttf") format("truetype");
}
@font-face
{
	font-family: "TTFirsNeue_SemiBold";
	src: local('TTFirsNeue_SemiBold'), url("fonts/TTFirsNeue-SemiBold.ttf") format("truetype");
}
@font-face
{
	font-family: "TTFirsNeue_Bold";
	src: local('TTFirsNeue_Bold'), url("fonts/TTFirsNeue-Bold.ttf") format("truetype");
}

@font-face
{
	font-family: "Santral_Book";
	src: local('Santral_Book'), url("fonts/Santral-Book.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_SemiBold";
	src: local('Santral_SemiBold'), url("fonts/Santral-SemiBold.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_Bold";
	src: local('Santral_Bold'), url("fonts/Santral-Bold.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_ExtraBold";
	src: local('Santral_ExtraBold'), url("fonts/Santral-ExtraBold.ttf") format("truetype");
}

:root
{
	--color-white : #ffffff;
	--color-black : #1c1c1c;
	--color-subtitle : #ddddec;
	--color-subtitle-2 : #ececf5;

	/* CONTENEDOR PRINCIPAL */
	--contenedor-principal-width : 450px;
	--contenedor-principal-height : 50px;
	--contenedor-principal-candidato-height : 143px;
	--contenedor-principal-margin : 0px;

	--canditado-datos-a : #ffffff;
	--canditado-datos-b : #e1e1e1;

	--candidato-voto-template-1-a : #c0363b00;
	--candidato-voto-template-1-b : #c0363b50;

	--candidato-voto-template-2-a : #3c75df00;
	--candidato-voto-template-2-b : #3c75df50;

	/* CONTENEDOR CONSOLIDADOS */
	--consolidado-height : 187px;
	--consolidado-candidatos-height : 131px;
	--consolidado-titulo-height : 66px;

	/* CONTENEDOR CONSOLIDADOS */
	--consolidado-template-gris-a : #e6e6f4;
	--consolidado-template-gris-b : #dddced;

	--consolidado-template-1-bg-a : #c0363b;
	--consolidado-template-1-bg-b : #a12034;

	--consolidado-template-2-bg-a : #3c75df;
	--consolidado-template-2-bg-b : #1b44d5;

	--transition-time : 0.6s;
}

body
{
	overflow: hidden;
	background: transparent;
}

#render
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	/*
	background: url("/vav_final/app.imagenes/bg_conductores.jpg") no-repeat;
	background: url("/vav_final/app.imagenes/bg_preview.jpg") no-repeat !important;
	*/
	background: transparent;
	overflow: hidden;
}
	.render-preview
	{
		background: url("/vav_final/app.imagenes/bg_preview.jpg") no-repeat !important;
	}
	#no-cursor
	{
		z-index: 100;
		position: absolute;
		width: 1920px;
		height: 1080px;
		display: none;
	}
	#render-mesa-1
	{
		z-index: 10;
		position: absolute;
	}
	#render-mesa-2
	{
		z-index: 10;
		position: absolute;
	}
	#render-mesa-3
	{
		z-index: 10;
		position: absolute;
	}
	#render-mesa-4
	{
		z-index: 10;
		position: absolute;
	}
	#render-mesa-totales
	{
		z-index: 99;
		position: absolute;
		bottom: 1080px;
		left: 0px;
		width: 1920px;
		height: var(--consolidado-height)
	}

	.tottem
	{
		position: absolute;
		width: var(--contenedor-principal-width);
	}
	.floating
	{
		position: absolute;
	}

/*
	CONSOLIDADOS
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.consolidados
	{
		position: relative;
		width: 100%;
		height: var(--consolidado-height);
	}
		.consolidados .votos-totales
		{
			z-index: 3;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			text-align: center;
			font-family: 'Flama_Medium';
			font-size: 1.8rem;
			line-height: 1.8rem;
			padding: 8px 0 0 0;
			color: var(--color-black);
		}
			.consolidados .votos-totales .totales
			{
				font-family: 'Flama_Regular';
				margin-left: 6px;
			}
			.consolidados .votos-totales .subtitulo
			{
				font-family: 'Flama_Regular';
			}
		.consolidados .candidatos
		{
			z-index: 1;
			position: relative;
			width: 1920px;
			height: var(--consolidado-candidatos-height);
		}
			.consolidados .candidatos .template-1
			{
				z-index: 1;
				position: absolute;
				top: 0px;
				left: 0px;
				height: var(--consolidado-candidatos-height);
				transition: all 1.2s ease-in-out;
			}
				.consolidados .candidatos .template-1 .up
				{
					position: relative;
					width: 100%;
					height: 44px;
					background: linear-gradient( 0deg, var(--color-subtitle) 0%, var(--color-subtitle-2) 100%);
				}
					.consolidados .candidatos .template-1 .up .votos
					{
						position: relative;
						width: 350px;
						height: 44px;
						background: linear-gradient( 0deg, var(--consolidado-template-1-bg-b) 0%, var(--consolidado-template-1-bg-a) 100%);
						color: var(--color-white);
						font-family: 'Flama_Medium';
						font-size: 1.8rem;
						line-height: 1.8rem;
						padding: 8px 0 0 83px;
					}
						.consolidados .candidatos .template-1 .up .votos .decorador
						{
							font-family: 'Flama_Regular';
							margin: 0 0 0 5px;
						}
				.consolidados .candidatos .template-1 .down
				{
					position: relative;
					width: 100%;
					height: 87px;
					background: linear-gradient( 0deg, var(--consolidado-template-1-bg-b) 0%, var(--consolidado-template-1-bg-a) 100%);
					display: grid;
					grid-template-columns: 245px 1fr;
					grid-template-areas: "nombre porcentaje";
					gap: 30px;
				}
					.consolidados .candidatos .template-1 .down .nombre
					{
						grid-area: nombre;
						text-align: left;
						color: var(--color-white);
						font-family: 'Flama_Bold';
						font-size: 5.2rem;
						line-height: 5.2rem;
						letter-spacing: 2px;
						padding: 3px 0 0 83px;
					}
					.consolidados .candidatos .template-1 .down .imagen
					{
						position: absolute;
						bottom: 0px;
						left: 270px;
						height: var(--contenedor-principal-candidato-height);
					}
						.consolidados .candidatos .template-1 .down .imagen img
						{
							position: absolute;
							bottom: 0px;
							height: var(--contenedor-principal-candidato-height);
						}
					.consolidados .candidatos .template-1 .down .porcentaje
					{
						z-index: 10;
						grid-area: porcentaje;
						text-align: right;
						color: var(--color-white);
						padding: 9px 55px 0 0;
					}
						.consolidados .candidatos .template-1 .down .porcentaje .valor
						{
							font-family: 'Flama_Bold';
							font-size: 4.5rem;
							line-height: 4.5rem;
							letter-spacing: 3px;
						}
						.consolidados .candidatos .template-1 .down .porcentaje .decorador
						{
							font-family: 'Flama_Regular';
							font-size: 2.4rem;
							line-height: 2.4rem;
							margin: 0 0 0 3px;
						}
					.consolidados .candidatos .template-1 .down .estrella
					{
						z-index: 5;
						position: absolute;
						top: 0px;
						right: 0px;
					}

			.consolidados .candidatos .template-2
			{
				z-index: 2;
				position: absolute;
				top: 0px;
				right: 0px;
				height: var(--consolidado-candidatos-height);
				transition: all 1.2s ease-in-out;
			}
				.consolidados .candidatos .template-2 .up
				{
					position: relative;
					width: 100%;
					height: 44px;
					background: linear-gradient( 0deg, var(--color-subtitle) 0%, var(--color-subtitle-2) 100%);
				}
					.consolidados .candidatos .template-2 .up .votos
					{
						float: right;
						width: 350px;
						height: 44px;
						background: linear-gradient( 0deg, var(--consolidado-template-2-bg-b) 0%, var(--consolidado-template-2-bg-a) 100%);
						color: var(--color-white);
						font-family: 'Flama_Medium';
						font-size: 1.8rem;
						line-height: 1.8rem;
						text-align: right;
						padding: 8px 83px 0 0;
					}
						.consolidados .candidatos .template-2 .up .votos .decorador
						{
							font-family: 'Flama_Regular';
							margin: 0 0 0 5px;
						}
				.consolidados .candidatos .template-2 .down
				{
					position: relative;
					width: 100%;
					height: 87px;
					background: linear-gradient( 0deg, var(--consolidado-template-2-bg-b) 0%, var(--consolidado-template-2-bg-a) 100%);
					display: grid;
					grid-template-columns: 1fr 245px;
					grid-template-areas: "porcentaje nombre";
					gap: 30px;
				}
					.consolidados .candidatos .template-2 .down .nombre
					{
						grid-area: nombre;
						text-align: right;
						color: var(--color-white);
						font-family: 'Flama_Bold';
						font-size: 5.2rem;
						line-height: 5.2rem;
						letter-spacing: 2px;
						padding: 3px 83px 0 0;
					}
					.consolidados .candidatos .template-2 .down .imagen
					{
						position: absolute;
						bottom: 0px;
						right: 390px;
						height: var(--contenedor-principal-candidato-height);
					}
						.consolidados .candidatos .template-2 .down .imagen img
						{
							position: absolute;
							bottom: 0px;
							height: var(--contenedor-principal-candidato-height);
						}
					.consolidados .candidatos .template-2 .down .porcentaje
					{
						z-index: 10;
						grid-area: porcentaje;
						text-align: left;
						color: var(--color-white);
						padding: 9px 0 0 55px;
					}
						.consolidados .candidatos .template-2 .down .porcentaje .valor
						{
							font-family: 'Flama_Bold';
							font-size: 4.5rem;
							line-height: 4.5rem;
							letter-spacing: 3px;
						}
						.consolidados .candidatos .template-2 .down .porcentaje .decorador
						{
							font-family: 'Flama_Regular';
							font-size: 2.4rem;
							line-height: 2.4rem;
							margin: 0 0 0 3px;
						}
					.consolidados .candidatos .template-2 .down .estrella
					{
						z-index: 5;
						position: absolute;
						top: 0px;
						left: 0px;
					}

/*
	TOTTEM
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.tottem .box
	{
		position: relative;
		width: 100%;
		overflow: hidden;
	}
		.tottem .box .titulo
		{
			margin: 30px 0 0 0;
			position: relative;
			text-align: center;
			color: var(--color-black);
			background: linear-gradient( 0deg, var(--color-subtitle) 0%, var(--color-subtitle-2) 100%);
			padding: 6px 0 6px 0;
		}
			.tottem .box .titulo .titulo-local
			{
				text-transform: uppercase;
				font-family: 'panton_regular';
				font-size: 1.2rem;
				line-height: 1.2rem;
				padding: 0 0 2px 0;
			}
			.tottem .box .titulo .titulo-numero
			{
				text-transform: uppercase;
				font-family: 'panton_bold';
				font-size: 1.2rem;
				line-height: 1.2rem;
			}
				.tottem .box .titulo .titulo-numero span
				{
					font-family: 'panton_extraBold';
					margin: 0 4px 0 0;
				}
/*
	CANDIDATOS
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/

		.tottem .box .candidatos
		{
			z-index: 1;
			position: relative;
			width: 100%;
			height: var(--contenedor-principal-height);
			display: grid;
			grid-template-columns: 1fr 1fr;
		}
			.tottem .box .candidatos .candidato
			{
				position: relative;
				width: 100%;
				height: var(--contenedor-principal-height);
				display: grid;
				grid-template-areas: "imagen votos";
				background: linear-gradient( 165deg, var(--canditado-datos-b) 0%, var(--canditado-datos-a) 100%);
			}
				.tottem .box .candidatos .candidato .imagen
				{
					z-index: 5;
					grid-area: imagen;
					position: relative;
				}
					.tottem .box .candidatos .candidato .imagen img
					{
						position: absolute;
						width: 110px;
						bottom: -12px;
					}
				.tottem .box .candidatos .candidato .votos
				{
					z-index: 5;
					grid-area: votos;
					position: relative;
					text-align: center;
					font-family: 'Flama_Bold_';
					font-size: 2.95rem;
					line-height: 2.95rem;
					letter-spacing: 0px;
					padding: 2px 0 0 0;
				}
				.tottem .box .candidatos .candidato .candidato-votos-animacion
				{
					z-index: 1;
					top: 0px;
					left: 0px;
					position: absolute;
					width: 100%;
					height: 100%;
					opacity: 0;
				}

			.tottem .box .candidatos .template-1
			{
				grid-template-columns: 93px 1fr;
				grid-template-areas: "imagen votos";
			}
				.tottem .box .candidatos .template-1 .imagen img
				{
					left: -17px;
				}
				.tottem .box .candidatos .template-1 .votos
				{
					color: #b12a37;
				}
				.tottem .box .candidatos .template-1 .candidato-votos-animacion
				{
					background: linear-gradient( 135deg, var(--candidato-voto-template-1-a) 0%, var(--candidato-voto-template-1-b) 100%);
				}

			.tottem .box .candidatos .template-2
			{
				grid-template-columns: 1fr 93px;
				grid-template-areas: "votos imagen";
			}
				.tottem .box .candidatos .template-2 .imagen img
				{
					right: -17px;
				}
				.tottem .box .candidatos .template-2 .votos
				{
					color: #2b5dda;
				}
				.tottem .box .candidatos .template-2 .candidato-votos-animacion
				{
					background: linear-gradient( 135deg, var(--candidato-voto-template-2-b) 0%, var(--candidato-voto-template-2-a) 100%);
				}

/*
	ANIMACIONES
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.animar_voto
	{
		animation: keyframe_voto var(--transition-time) ease 1 forwards;
	}
	.animar_voto_texto
	{
		animation: keyframe_voto_texto var(--transition-time) ease 1 forwards;
	}
	.animar_voto_icono
	{
		animation: keyframe_voto_icono var(--transition-time) ease 1 forwards;
	}

	.letters_in
	{
		animation: keyframe_letter_in var(--transition-time) ease-out 1 forwards;
	}
	.letters_zoom_in
	{
		animation: keyframe_letter_zoom_in var(--transition-time) ease-out 1 forwards;
	}
	.arrow_zoom_in
	{
		animation: keyframe_arrow_zoom_in var(--transition-time) ease-out 1 forwards;
	}

	.transition
	{
		transition: all var(--transition-time) ease-in-out;
	}
	.transition-on
	{
		transition: top var(--transition-time) ease, left var(--transition-time) ease, right var(--transition-time) ease, transform var(--transition-time) ease, bottom var(--transition-time) ease;
	}
	.transition-of
	{
		transition: all 0s ease;
	}

	@keyframes keyframe_letter_in
	{
		0% { opacity: 0 }
		25% { opacity: 0 }
		100% { opacity: 1 }
	}
	@keyframes keyframe_letter_zoom_in
	{
		0% { opacity: 0; transform: scale(1.2) }
		50% { opacity: 0; transform: scale(1.2) }
		100% { opacity: 1; transform: scale(1) }
	}
	@keyframes keyframe_arrow_zoom_in
	{
		0% { opacity: 0; filter: brightness(2); }
		50% { opacity: 0; filter: brightness(2); }
		100% { opacity: 1; filter: brightness(1); }
	}
	@keyframes keyframe_voto
	{
		0% { opacity: 0 }
		45% { opacity: 1 }
		55% { opacity: 1 }
		100% { opacity: 0 }
	}
	@keyframes keyframe_voto_texto
	{
		0% {  }
		45% { color: var(--color-white); }
		55% { color: var(--color-white); }
		100% {  }
	}
	@keyframes keyframe_voto_icono
	{
		0% { filter: invert(0) }
		45% { filter: invert(1) }
		55% { filter: invert(1) }
		100% { filter: invert(0) }
	}