*
{
	margin: 0px;
	padding: 0px;
	border: 0px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

@font-face
{
	font-family: 'panton_thin';
	src: local('panton_thin'), url(fonts/cnn/panton_thin.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_extraLight';
	src: local('panton_extraLight'), url(fonts/cnn/panton_extraLight.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_light';
	src: local('panton_light'), url(fonts/cnn/panton_light.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_regular';
	src: local('panton_regular'), url(fonts/cnn/panton_regular.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_semiBold';
	src: local('panton_semiBold'), url(fonts/cnn/panton_semiBold.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_bold';
	src: local('panton_bold'), url(fonts/cnn/panton_bold.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_extraBold';
	src: local('panton_extraBold'), url(fonts/cnn/panton_extraBold.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_black';
	src: local('panton_black'), url(fonts/cnn/panton_black.otf) format('opentype');
}
@font-face
{
	font-family: 'panton_heavy';
	src: local('panton_heavy'), url(fonts/cnn/panton_heavy.otf) format('opentype');
}

@font-face
{
	font-family: "ATC_rg";
	src: local('ATTAleckCd_Rg'), url("fonts/ATTAleckCd_Rg.ttf") format("truetype");
}
@font-face
{
	font-family: "ATC_bd";
	src: local('ATTAleckCd_W_Bd'), url("fonts/ATTAleckCd_W_Bd.ttf") format("truetype");
}

@font-face
{
	font-family: "Flama_Regular";
	src: local('Flama_Regular'), url("fonts/Flama_Regular.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Medium";
	src: local('Flama_Medium'), url("fonts/Flama_Medium.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Semibold";
	src: local('Flama_Semibold'), url("fonts/Flama_Semibold.otf") format("truetype");
}
@font-face
{
	font-family: "Flama_Bold";
	src: local('Flama_Bold'), url("fonts/Flama_Bold.otf") format("truetype");
}

@font-face
{
	font-family: "Santral_Book";
	src: local('Santral_Book'), url("fonts/Santral-Book.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_SemiBold";
	src: local('Santral_SemiBold'), url("fonts/Santral-SemiBold.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_Bold";
	src: local('Santral_Bold'), url("fonts/Santral-Bold.ttf") format("truetype");
}
@font-face
{
	font-family: "Santral_ExtraBold";
	src: local('Santral_ExtraBold'), url("fonts/Santral-ExtraBold.ttf") format("truetype");
}

:root
{
	--color-white : #ffffff;
	--color-black : #1c1c1c;

	--gobernador-color : #ff1b6a;
	--gobernador-color-invertido : #ffffff;
	--gobernador-color-sombra : #ff1b6a50;

	--gobernador-voto-a : #ff1b6a00;
	--gobernador-voto-b : #ff1b6a50;
	--gobernador-1-voto-a : #ffffff00;
	--gobernador-1-voto-b : #ffffffb1;

	--alcalde-color : #007fef;
	--alcalde-color-invertido : #ffffff;
	--alcalde-color-sombra : #007fef50;
	
	--alcalde-voto-a : #007fef00;
	--alcalde-voto-b : #007fef85;
	--alcalde-1-voto-a : #ffffff00;
	--alcalde-1-voto-b : #ffffffb1;

	--candidate-width : 650px;
	--candidate-height : 84px;
	--candidate-margin : 0px;

	--candidate-item-width : 310px;
	--candidate-item-height : 260px;

	--candidato-nombre : #1c1c1c;
	--candidato-apellido : #1c1c1c;

	--resultados : 490px;

	--consolidado-header-height : 145px;
	--consolidado-candidatos-height : 714px;

	--consolidado-item-height : 352px;
	--consolidado-item-margin : 30px;

	--transition-time : 0.6s;
}

body
{
	overflow: hidden;
	background: transparent;
}

#render
{
	position: relative;
	top: 0px;
	left: 0px;
	width: 1920px;
	height: 1080px;
	/*
	background: url("/vav_final/app.imagenes/bg_conductores.jpg") no-repeat;
	background: url("/vav_final/app.imagenes/bg_preview.jpg") no-repeat !important;
	*/
	background: transparent;
	overflow: hidden;	
}
	.render-preview
	{
		background: url("/vav_final/app.imagenes/bg_preview.jpg") no-repeat !important;
	}
	#no-cursor
	{
		z-index: 100;
		position: absolute;
		width: 1920px;
		height: 1080px;
		display: none;
	}
	#render-mesa-1
	{
		z-index: 10;
		position: absolute;
	}
	#render-mesa-2
	{
		z-index: 9;
		position: absolute;
	}
	#render-mesa-totales
	{
		z-index: 11;
		position: absolute;
		top: 0px;
		left: -380px;
		width: 380px;
		height: 912px;
	}

	.tottem
	{
		position: absolute;
		width: var(--candidate-width);
	}
	.floating
	{
		position: absolute;
	}

/*
	CONSOLIDADOS
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.consolidados
	{
		position: relative;
		width: 100%;
		height: 912px;
		background: #e3e3e3;
	}
		.consolidados .motion
		{
			position: absolute;
			z-index: 10;
			width: 100%;
			height: 58px;
			bottom: 0px;
			background: linear-gradient( 0deg, #e3e3e3 0%, #e3e3e300 100%);
		}
		.consolidados .header
		{
			position: relative;
			z-index: 2;
			width: 100%;
			height: var(--consolidado-header-height);
			background: linear-gradient( 0deg, #e3e3e3 0%, #fff 100%);
		}
			.consolidados .header .header-cnt
			{
				position: absolute;
				bottom: 20px;
				z-index: 2;
				width: 100%;
			}
			.consolidados .header h1
			{
				position: relative;
				color: var(--candidato-nombre);
				font-family: 'Santral_Book';
				letter-spacing: 3px;
				font-size: 1.5rem;
				line-height: 1.5rem;
				padding: 0 0 6px 25px;
			}
			.consolidados .header h2
			{
				position: relative;
				float: left;
				color: var(--gobernador-color-invertido);
				background: var(--gobernador-color);
				font-family: 'Santral_Bold';
				font-size: 2.1rem;
				line-height: 2.1rem;
				margin: 0 0 9px 25px;
				padding: 7px 12px 5px 12px;
			}
				.consolidados .header h2 span
				{
					font-family: 'Santral_Book';
					margin: 0 0 0 3px;
				}
			.consolidados .header h3
			{
				position: relative;
				float: left;
				width: 100%;
				color: var(--candidato-nombre);
				font-size: 1.6rem;
				line-height: 1.6rem;
				font-family: 'Santral_ExtraBold';
				padding: 0 0 0 25px;
			}
			.consolidados .header .totales
			{
				position: relative;
				font-family: 'Santral_ExtraBold';
				font-size: 1.4rem;
				line-height: 1.4rem;
				padding: 9px 0 9px 25px;
				background: linear-gradient( 0deg, #ffffff 0%, #e3e3e3 100%);
			}

			.consolidados .candidatos
			{
				position: relative;
				margin: 0 0 0 0;
				z-index: 1;
				width: 100%;
				height: calc( ( var(--consolidado-item-height) * 3 ) + ( var(--consolidado-item-margin) * 4.5 ) - 7px );
				overflow: hidden;
			}
				.consolidados .candidatos .candidato
				{
					opacity: 1;
					position: absolute;
					width: 100%;
					height: var(--consolidado-item-height);
					display: grid;
					gap: 0;
					grid-template-columns: 1fr;
					overflow: hidden;
					transition: all var(--transition-time) ease-in-out;
					box-shadow: 0 2px 10px #00000020;
				}
					.consolidados .candidatos .candidato .candidato-imagen
					{
						z-index: 3;
						position: relative;
						width: 100%;
						height: 205px;
						background: linear-gradient( 160deg, #ffffff 30%, #ececec 100%);
						overflow: hidden;
						place-content: end;
					}
						.consolidados .candidatos .candidato .candidato-imagen .candidato-imagen-marco
						{
							position: relative;
							width: 230px;
							height: 205px;
							overflow: hidden;
						}
							.consolidados .candidatos .candidato .candidato-imagen .candidato-imagen-marco img
							{
								position: relative;
								width: auto;
								top: 15px;
								height: 265px;
								opacity: 1;
							}

						.consolidados .candidatos .candidato .candidato-imagen .candidato-detalles-alianza
						{
							bottom: 25px;
							right: 25px;
							width: 95px;
							position: absolute;
							display: grid;
							transition: all var(--transition-time) ease-in-out;
							text-align: center;
							font-size: 1.5rem;
							line-height: 1.5rem;
							border: solid 2px var(--gobernador-color);
						}
							.consolidados .candidatos .candidato .candidato-imagen .candidato-detalles-alianza .candidato-detalles-alianza-partido
							{
								font-family: 'Santral_Bold';
								padding: 5px 0 4px 0;
								background: var(--gobernador-color);
								color: var(--color-white);
							}
							.consolidados .candidatos .candidato .candidato-imagen .candidato-detalles-alianza .candidato-detalles-alianza-pacto
							{
								font-family: 'Santral_Bold';
								padding: 5px 0 4px 0;
								background: var(--color-white);
								color: var(--gobernador-color);
							}


					.consolidados .candidatos .candidato .candidato-info
					{
						z-index: 2;
						position: relative;
						background: #ffffff;
						transition: all var(--transition-time) ease-in-out;
					}
					.consolidados .candidatos .candidato .candidato-detalles
					{
						position: relative;
						z-index: 1;
						text-align: left;
						text-transform: uppercase;
						padding: 17px 0 0 25px;
					}
						.consolidados .candidatos .candidato .candidato-detalles .candidato-detalles-nombre
						{
							font-family: 'Santral_Bold';
							font-size: 1.4rem;
							line-height: 1.4rem;
							color: var(--candidato-nombre);
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							transition: all var(--transition-time) ease-in-out;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.consolidados .candidatos .candidato .candidato-detalles .candidato-detalles-apellido
						{
							padding: 2px 0 0 0;
							font-family: 'Santral_ExtraBold';
							font-size: 2.2rem;
							line-height: 2.2rem;
							color: var(--candidato-nombre);
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							transition: all var(--transition-time) ease-in-out;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

					.consolidados .candidatos .candidato .candidato-votos
					{
						position: relative;
						width: 100%;
						padding: 0px 0 7px 20px;
					}
						.consolidados .candidatos .candidato .candidato-votos .candidato-votos-valor
						{
							position: relative;
							width: 100%;
							text-align: left;
							z-index: 6;
							font-family: 'Santral_Extrabold';
							font-size: 4rem;
							line-height: 4rem;
							letter-spacing: 1px;
							transition: all var(--transition-time) ease-in-out;
							color: var(--gobernador-color);
						}
							.consolidados .candidatos .candidato-votos-animacion
							{
								z-index: 1;
								top: 0px;
								position: absolute;
								width: 100%;
								height: 100%;
								opacity: 0;
							}

	.floating .tipo-g .candidatos .order-1 .candidato-info { background: var(--gobernador-color) !important; }
	.floating .tipo-g .candidatos .order-1 .candidato-votos-valor { color: var(--color-white) !important; }
	.floating .tipo-g .candidatos .order-1 .candidato-detalles .candidato-detalles-nombre { color: var(--color-white) !important; }
	.floating .tipo-g .candidatos .order-1 .candidato-detalles .candidato-detalles-apellido { color: var(--color-white) !important; }

	.consolidados .candidatos .order-1
	{
		z-index: 7;
		top: calc( ( var(--consolidado-item-height) * 0 ) );
		animation: orden-1-kf 0s ease-out 1 forwards;
	}
	.consolidados .candidatos .order-2
	{
		z-index: 6;
		top: calc( ( var(--consolidado-item-height) * 1 ) + var(--consolidado-item-margin) * 1 );
		animation: orden-2-kf 0s ease-out 1 forwards;
	}
	.consolidados .candidatos .order-3
	{
		z-index: 5;
		top: calc( ( var(--consolidado-item-height) * 2 ) + var(--consolidado-item-margin) * 2 );
		animation: orden-3-kf 0s ease-out 1 forwards;
	}
	.consolidados .candidatos .order-4
	{
		z-index: 4;
		top: calc( ( var(--consolidado-item-height) * 3 ) + var(--consolidado-item-margin) * 4 );
		animation: orden-4-kf 0s ease-out 1 forwards;
	}

/*
	TOTTEM
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.tottem .box
	{
		position: relative;
		width: 100%;
	}
		.tottem .box .header
		{
			z-index: 3;
			width: 100%;
			position: relative;
			text-transform: uppercase;
			text-align: center;
			background: #ffffff;
			padding: 13px 0 8px 0;
		}
			.tottem .box .header h2
			{
				font-family: 'Santral_Bold';
				font-size: 1.7rem;
				line-height: 1.7rem;
			}
				.tottem .box .header h2 .tipo
				{
					font-family: 'Santral_SemiBold';
				}
				.tottem .box .header h2 .separador
				{
					display: inline-block;
					width: 2px;
					height: 20px;
					margin: 0 7px 0 7px;
					background: var(--color-black);
				}
			.tottem .box .header h3
			{
				background: var(--alcalde-color-invertido);
				font-family: 'Santral_SemiBold';
				font-size: 1.3rem;
				line-height: 1.3rem;
				opacity: 0.7;
				margin: 3px 0 0 0;
			}
				.tottem .box .header h3 .separador
				{
					display: inline-block;
					width: 2px;
					height: 15px;
					margin: 0 5px 0 5px;
					background: var(--color-black);
				}
/*
	CANDIDATOS
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.tottem .box .candidatos-padding
	{
		position: relative;
		width: 100%;
		padding: 10px;
		background: linear-gradient( 0deg, #eeee 0%, #eeee 100%);
		overflow: hidden;
	}
		.tottem .box .candidatos
		{
			z-index: 1;
			position: relative;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 10px 10px;
			width: 100%;
			height: 165px;
		}
			.tottem .box .candidatos .candidato
			{
				position: relative;
				width: 100%;
				display: grid;
				grid-template-columns: 115px 1fr;
				transition: all var(--transition-time) ease-in-out;
				background: #ededed;
				box-shadow: 0 0 7px #00000015;
			}
				.tottem .box .candidatos .candidato .candidato-imagen
				{
					z-index: 1;
					display: grid;
					position: relative;
					width: 100%;
					background: #fff;
					overflow: hidden;
				}
					.tottem .box .candidatos .candidato .candidato-imagen .candidato-imagen-marco
					{
						width: 115px;
						height: 165px;
						background: #fff;
						box-shadow: 0 80px 30px #00000060;
					}
					.tottem .box .candidatos .candidato .candidato-imagen img
					{
						place-self: center;
						position: relative;
						left: -12px;
						width: auto;
						height: 165px;
						opacity: 1;
					}
				.tottem .box .candidatos .candidato .candidato-info
				{
					z-index: 2;
					position: relative;
					background: #eee;
					transition: all var(--transition-time) ease-in-out;;
					padding: 15px 15px 0 15px;
				}
					.tottem .box .candidatos .candidato .candidato-detalles
					{
						position: relative;
						z-index: 6;
						text-align: left;
						text-transform: uppercase;
						color: var(--candidato-nombre);
					}
						.tottem .box .candidatos .candidato .candidato-detalles .candidato-detalles-nombre
						{
							font-family: 'Santral_SemiBold';
							font-size: 1.2rem;
							line-height: 1.2rem;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: nowrap;
							transition: all var(--transition-time) ease-in-out;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}
						.tottem .box .candidatos .candidato .candidato-detalles .candidato-detalles-apellido
						{
							width: 100%;
							font-family: 'Santral_Bold';
							font-size: 1.5rem;
							line-height: 1.5rem;
							padding: 2px 0 1px 0;
							transition: all var(--transition-time) ease-in-out;
							white-space: nowrap;
							overflow: hidden;
							text-overflow: ellipsis;
						}

						.tottem .box .candidatos .candidato .candidato-detalles .candidato-detalles-alianza
						{
							display: grid;
							grid-template-columns: 1fr 1fr;
							background: var(--color-white);
							margin: 5px 20px 2px 0;
							transition: all var(--transition-time) ease-in-out;
							text-align: center;
						}
							.tottem .box .candidatos .candidato .candidato-detalles .candidato-detalles-alianza .candidato-detalles-alianza-partido
							{
								font-family: 'Santral_Bold';
								font-size: 1.1rem;
								line-height: 1.1rem;
								color: var(--color-white);
								padding: 4px 0 1px 0;
								transition: all var(--transition-time) ease-in-out;
							}
							.tottem .box .candidatos .candidato .candidato-detalles .candidato-detalles-alianza .candidato-detalles-alianza-pacto
							{
								font-family: 'Santral_Bold';
								font-size: 1.1rem;
								line-height: 1.1rem;
								padding: 4px 0 1px 0;
								transition: all var(--transition-time) ease-in-out;
							}

					.tottem .box .candidatos .candidato .candidato-votos
					{
						position: relative;
						width: 100%;
					}
						.tottem .box .candidatos .candidato .candidato-votos .candidato-votos-valor
						{
							position: relative;
							width: 100%;
							z-index: 6;
							font-family: 'Santral_Extrabold';
							font-size: 3.7rem;
							line-height: 3.7rem;
							letter-spacing: 1px;
							transition: all var(--transition-time) ease-in-out;
						}
							.tottem .box .candidatos .candidato-votos-animacion
							{
								z-index: 1;
								top: 0px;
								left: 0px;
								position: absolute;
								width: 100%;
								height: 100%;
								opacity: 0;
							}

/*
	VALIDACIONES ENTRE ALCALDES Y GOBERNADORES
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.tottem .pos-1 .header-item-h2 { float: left }
	.tottem .pos-1 .header-item-h3 { float: left }
	.tottem .pos-1 .header-item-h4 { float: left }
	.tottem .pos-2 .header-item-h2 { float: right }
	.tottem .pos-2 .header-item-h3 { float: right }
	.tottem .pos-2 .header-item-h4 { float: right }

	.tottem .box .candidatos .order-1 .candidato-detalles { color: var(--color-white) }
	.tottem .box .candidatos .order-1 .candidato-votos-valor{ color: var(--color-white) }

	.tottem .tipo-g .candidato-votos-valor{ color: var(--gobernador-color); }
	.tottem .tipo-g .candidato-detalles-alianza { border: solid 2px var(--gobernador-color) }
	.tottem .tipo-g .candidato-detalles-alianza-partido { background: var(--gobernador-color) }
	.tottem .tipo-g .candidato-detalles-alianza-pacto { color: var(--gobernador-color) }
	.tottem .tipo-g .candidatos .candidato-votos-animacion { background: linear-gradient( 135deg, var(--gobernador-voto-a) 0%, var(--gobernador-voto-b) 100%); }
	.tottem .tipo-g .candidatos .order-1 .candidato-votos-animacion { background: linear-gradient( 135deg, var(--gobernador-1-voto-a) 0%, var(--gobernador-1-voto-b) 100%); }

	.tottem .tipo-g .candidatos .order-1 .candidato-info { background: var(--gobernador-color) }
	.tottem .tipo-g .order-1 .candidato-detalles-alianza { border: solid 2px var(--color-white) }
	.tottem .tipo-g .order-1 .candidato-detalles-alianza-partido { background: var(--color-white) !important; color: var(--gobernador-color) !important; }
	.tottem .tipo-g .order-1 .candidato-detalles-alianza-pacto { background: var(--gobernador-color) !important; color: var(--color-white) !important; }

	.tottem .tipo-a .candidato-votos-valor{ color: var(--alcalde-color); }
	.tottem .tipo-a .candidato-detalles-alianza { border: solid 2px var(--alcalde-color) }
	.tottem .tipo-a .candidato-detalles-alianza-partido { background: var(--alcalde-color) }
	.tottem .tipo-a .candidato-detalles-alianza-pacto { color: var(--alcalde-color) }
	.tottem .tipo-a .candidatos .candidato-votos-animacion { background: linear-gradient( 135deg, var(--alcalde-voto-a) 0%, var(--alcalde-voto-b) 100%); }
	.tottem .tipo-a .candidatos .order-1 .candidato-votos-animacion { background: linear-gradient( 135deg, var(--alcalde-1-voto-a) 0%, var(--alcalde-1-voto-b) 100%); }

	.tottem .tipo-a .candidatos .order-1 .candidato-info { background: var(--alcalde-color) }
	.tottem .tipo-a .order-1 .candidato-detalles-alianza { border: solid 2px var(--color-white) }
	.tottem .tipo-a .order-1 .candidato-detalles-alianza-partido { background: var(--color-white) !important; color: var(--alcalde-color) !important; }
	.tottem .tipo-a .order-1 .candidato-detalles-alianza-pacto { background: var(--alcalde-color) !important; color: var(--color-white) !important; }

/*
	POSICIONES DE LOS BLOQUES
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.tottem .box .candidatos .order-1
	{
		z-index: 7;
	}
	.tottem .box .candidatos .order-2
	{
		z-index: 6;
	}

	@keyframes orden-1-kf { 1% { z-index: 7 } }
	@keyframes orden-2-kf { 1% { z-index: 6 } }

/*
	ANIMACIONES
	-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-		-
*/
	.animar_voto
	{
		animation: keyframe_voto var(--transition-time) ease 1 forwards;
	}
	.animar_voto_texto
	{
		animation: keyframe_voto_texto var(--transition-time) ease 1 forwards;
	}
	.animar_voto_icono
	{
		animation: keyframe_voto_icono var(--transition-time) ease 1 forwards;
	}

	.letters_in
	{
		animation: keyframe_letter_in var(--transition-time) ease-out 1 forwards;
	}
	.letters_zoom_in
	{
		animation: keyframe_letter_zoom_in var(--transition-time) ease-out 1 forwards;
	}
	.arrow_zoom_in
	{
		animation: keyframe_arrow_zoom_in var(--transition-time) ease-out 1 forwards;
	}

	.transition
	{
		transition: all var(--transition-time) ease-in-out;
	}
	.transition-on
	{
		transition: left var(--transition-time) ease, right var(--transition-time) ease, transform var(--transition-time) ease, bottom var(--transition-time) ease;
	}
	.transition-of
	{
		transition: all 0s ease;
	}

	@keyframes keyframe_letter_in
	{
		0% { opacity: 0 }
		25% { opacity: 0 }
		100% { opacity: 1 }
	}
	@keyframes keyframe_letter_zoom_in
	{
		0% { opacity: 0; transform: scale(1.2) }
		50% { opacity: 0; transform: scale(1.2) }
		100% { opacity: 1; transform: scale(1) }
	}
	@keyframes keyframe_arrow_zoom_in
	{
		0% { opacity: 0; filter: brightness(2); }
		50% { opacity: 0; filter: brightness(2); }
		100% { opacity: 1; filter: brightness(1); }
	}

	@keyframes keyframe_voto
	{
		0% { opacity: 0 }
		45% { opacity: 1 }
		55% { opacity: 1 }
		100% { opacity: 0 }
	}
	@keyframes keyframe_voto_texto
	{
		0% {  }
		45% { color: var(--color-white); }
		55% { color: var(--color-white); }
		100% {  }
	}
	@keyframes keyframe_voto_icono
	{
		0% { filter: invert(0) }
		45% { filter: invert(1) }
		55% { filter: invert(1) }
		100% { filter: invert(0) }
	}